body {
  margin: 0;
  background-color: black;
  font-family: "Ubuntu Mono", monospace;
  color: white;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  font-size: small;
}

.playerList,
.teamList,
.matchList {
  padding: 15px;
  /* border: 15px; */
}

.heroImage {
  width: 100%;
}

.heroPage {
  width: calc(256px * 0.4);
  height: calc(144px * 0.4);
  object-fit: cover;
}

.teamAvatar {
  height: calc(144px * 0.75);
  width: auto;
}

.playerName,
.matchID,
.matchTeam {
  color: white;
  padding: 5px 0px 0px 0px;
}

.playerTeam,
.matchStats {
  color: rgb(128, 128, 128);
  padding: 0px 0px 5px 0px;
}

.orange:hover {
  color: rgb(255, 153, 0);
}

.playerAvatar {
  width: 100%;
  height: 100%;
}

.playerAvatar:hover,
.heroImage:hover {
  transform: scale(1.2);
  border: 2px solid rgb(255, 153, 0);
  border-radius: 25px;
  box-shadow: 0px 30px 30px black;
}

.heroList {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 15px;
}

.teamAvatar:hover {
  transform: scale(1.2);
}

.heroPage:hover {
  transform: scale(1.3);
  border: 2px solid rgb(255, 153, 0);
  border-radius: 25px;
  box-shadow: 0px 30px 30px black;
  cursor: pointer;
}

.greyscale:hover {
  border: 2px solid lightgrey;
}

.grey {
  color: rgb(128, 128, 128);
}

h5 {
  font-size: small;
}

.matchID {
  cursor: copy;
}

.logo,
.playerList,
.listData {
  cursor: pointer;
}

.profile {
  padding: 10px 50px;
}

.heroProfile {
  width: 100%;
}

.heroFiltered {
  margin: 0px 0px 30px 0px;
}

.matches {
  margin: 15px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.matchesID,
.matchesTeamName,
.matchesScore {
  text-align: center;
}

.matchesTeamLogoContainer,
.matchesIndividualHeroImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchesTeamLogo {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  margin-bottom: 2em;
}

.matchesHeroes {
  width: 100%;
}

.matchesIndividualHeroImage {
  position: relative;
  max-width: 12vw;
  object-fit: cover;
}

.matchesIndividualPlayerStatRadiant {
  width: 100%;
  text-align: left;
}

.playerName {
  text-decoration: underline;
}

.matchesIndividualPlayerStatDire {
  width: 100%;
  text-align: right;
}

.matchesHeroBanContainer {
  display: flex;
  flex-direction: column;
}

.matchesBanImage {
  margin: 0 0 1em 0;
  max-width: 4vw;
}
